// Variables
$main-color: #000000;
$second-color: #2b20ff;
$third-color: #2018bf;
$white: #ffffff;
$body-text-color: #d9dae2;

// Logo Section
.section {
  z-index: 200;
  background-color: $white;
  padding: 150px 3%;
  position: relative;
  
  &.for-logo {
    padding-bottom: 50px;
  }
}

.container {
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.flex-center {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fade-in-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  .fade-gradient {
    z-index: 2;
    pointer-events: none;
    cursor: none;
    background-image: linear-gradient(
      90deg, 
      rgba(255, 255, 255, 0) 0%, 
      rgba(255, 255, 255, 1) 25%
    );
    width: 200%;
    height: 100%;
    position: absolute;
    inset: 0;
    will-change: transform;
  }
  
  .subhead-main, .button-3d {
    position: relative;
    z-index: 1;
  }
}

.subhead-main {
  opacity: 1;
  text-align: center;
  font-size: 31px;
  font-weight: 600;
  line-height: 1.4;
  
  &._80 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.button-flex {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
  
  .fade-in-wrapper {
    width: auto;
    display: inline-block;
  }
}

// 3D Button
.button-3d {
  color: $white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: none;
  transition: transform 0.2s;
  perspective: 800px;
  display: inline-block;
  
  &:active {
    transform: scale(0.975);
  }
}

.button-inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: center bottom;
}

.button-face {
  padding: 1rem 1.75rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  
  &.static {
    background-color: $second-color;
    position: relative;
  }
  
  &.hover {
    background-color: $third-color;
    transform-origin: center top;
  }
}

// Responsive styles
@media screen and (max-width: 991px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
    
    &.for-logo {
      padding-bottom: 50px;
    }
  }
  
  .subhead-main {
    font-size: 29px;
    
    &._80 {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .section.for-logo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .subhead-main {
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .subhead-main {
    font-size: 20px;
  }
  
  .button-flex {
    margin-top: 25px;
  }
}